.header {
  height: 60vh;
  background-image: linear-gradient(
      to right,
      rgba($color-white, 0.719),
      rgba($color-ggrey, 0.774)
    ),
    url("../../assets/images/bg-head1.jpg");

  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  @include responsive(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
  &__logo {
    height: 3rem;
    &-box {
      position: absolute;
      top: 1rem;
      left: 2rem;
    }
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}
