.navigation {
  position: absolute;
  right: 5rem;
  z-index: 1;
  &__list {
    margin-top: 2rem;
  }
  &__item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  &__link {
    color: #9db5b2;
    position: relative;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.3rem;
    &::after {
      border-bottom: 0.2em solid #a8f1d1;
      position: absolute;
      content: "";
      left: 0;
      right: 100%;
      bottom: -0.5em;
      transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
    }
    &:hover::after {
      border-color: #a8f1d1;
      right: 0;
    }
  }
}
