.navigation {
  position: absolute;
  right: 5rem;
  z-index: 1;
  &__list {
    margin-top: 2rem;
  }
  &__item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  &__link {
    position: relative;
    vertical-align: middle;
    &:link,
    &:visited {
      padding: 1.2rem;
      text-decoration: none;
      color: lightgreen;
      font-size: 1.3rem;
    }
    &:hover,
    :active {
      color: $color-primary-light;
      border-bottom: 2px solid$color-primary-dark;
      transition: all 0.2s;
    }
  }
}
